.container {
   
    background-color: rgb(151, 203, 28);
    width: 400px;
    height: 500px;
}

.container h1 {
    text-align: center;
    color: blue;
}

.container label{
    
    text-align: center;
  display: block;
  margin: 10px 10%;
}

.container button {
       width: 300px;
        display: block;
        margin: 10px 10%;
        background: rgba(255, 255, 255, 0.703);
        color: rgb(19, 239, 11);
        font-size: 20px;
    }
    .coluna{
        text-align: center;
    
    }