/*  */
.container {
   
    background-color: rgb(151, 203, 28);
    width: 400px;
    height: 500px;
}

.container h1 {
    text-align: center;
    color: rgb(0, 0, 78);
}

.container label{
    
    text-align: center;
  display: block;
  margin: 10px 10%;
}

.container button {
       width: 300px;
        display: block;
        margin: 10px 10%;
        background: rgba(150, 70, 75.703);
        color: rgb(19, 239, 11);
        font-size: 20px;
    }
    .coluna{
        text-align: center;
    
    }
    button{
        width: 1px;
        height: 50px;
        text-align: center;

    }   
    #ce{
        margin: 5px;
        height: 40px;
        margin-left: 208px;
        width: 50px; 
        background-color: rgb(128, 11, 0);
    }
    #botao{
        width: 50px;
        background-color: darkcyan;
        border-radius: 15px;
        border-color: darkred;
    }
    #igual{
        background-color: rgb(128, 11, 0);
        width: 50px;

    }
    #aa{
        background-color: green;
        width: 50px;
    }
    #a1{
        background-color: green;
        width: 50px;
    }
    #X{
        background-color: green;
        width: 50px;

    }
    #a{
        background-color: green;
        width: 50px;
    }
    .container-a{
        width: 300px;
        background-color: rgb(131, 151, 17);
       
  }
  
  .linha1{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 5px;
      
  }
  .input{
        width: 100px;
        border-radius: 10px;
  }
  .opera{
  border-radius: 15px;
  background-color: deepskyblue;
  border-color: gold;
  }
